{% extends "base.html.twig" %}



{% block body %}



<form action="" method="post">
  <input type="text" name="title" placeholder="Entrer ici le titre de l'article">

  <input type="text" name="contenu" placeholder="Enter ici le contenu">
  <input type="text" name="image" placeholder="Etnrer ici l'image" >
  <input type="submit" name="submit" value="Entregistrer">
</form>
{% endblock %}