{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenu sur home page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, aliquid aliquam maiores veritatis voluptatum
  nihil cum doloribus natus minima magni voluptates repudiandae laborum, explicabo rem. Vitae corporis adipisci harum
  enim. </p>




{% endblock %}