{% extends "base.html.twig" %}


{% block body %}
<article>
  <h2>{{article.title}}</h2>
  <div class="metadata">Ecris le 10/08/2021 à 19:00 dans la catégorie polique</div>
  <div class="content">
    <img src="https://placehold.it/350*150" alt="">
    <p>Harum corporis numquam amet, explicabo excepturi nihil, odio aspernatur tempore expedita placeat consectetur
      dignissimos reprehenderit.</p>
    <p>Atque cum suscipit recusandae corrupti sint, aliquam odit quibusdam, alias, nostrum hic neque! Officiis,
      sint.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni asperiores magnam autem quod reiciendis beatae
      nesciunt! Alias, enim commodi saepe beatae dolorum at. Qui reprehenderit provident nihil quisquam maiores magni
      autem aut numquam omnis velit rem molestias ullam, hic maxime ex alias sunt! Nisi, autem reiciendis iste,
      architecto optio ex eaque ratione ullam unde veritatis sequi, quas voluptas quasi suscipit distinctio in voluptate
      rem laudantium excepturi minima eum similique! Omnis eius natus quia quibusdam? Quaerat vel perspiciatis nemo modi
      eum at excepturi tenetur reiciendis, quod nihil, officiis odit eius! Voluptates facere porro molestiae saepe in
      ipsa eum modi quidem voluptate.</p>

  </div>
</article>

{% endblock %}